---
import { Icon } from "astro-icon";

// Data for social media icons
const socialMedia = [
  {
    name: "GitHub",
    path: "/",
    pack: "mdi",
    icon: "github",
  },
  {
    name: "GitLab",
    path: "/",
    pack: "mdi",
    icon: "gitlab",
  },
  {
    name: "Twitter",
    path: "/",
    pack: "mdi",
    icon: "twitter",
  },
  {
    name: "LinkedIn",
    path: "/",
    pack: "mdi",
    icon: "linkedin",
  },
];

// Props
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<div class={`socialBar ${className}`}>
  <ul>
    {
      socialMedia.map((media) => {
        return (
          <li>
            <a href={media.path} target="_blank" rel="noopener noreferrer">
              <span class={media.icon}>
                <Icon pack={media.pack} name={media.icon} />
              </span>
            </a>
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  @use "../../assets/scss/base/_social_media" as *;
  @use "../../assets/scss/base/_mixins" as *;

  .socialBar {
    @include flex-column(center);
    align-items: center;
    background-color: transparent;
    color: #f3f6fb;
    ul {
      @include flex-row(space-around);
      list-style-type: none;
      flex-wrap: nowrap;
      padding: 0;
      gap: 2.5rem;
      li {
        width: 3rem;
        height: 3rem;

        a {
          text-decoration: inherit;

          span {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
          }

          @include social-media-icon($social-medias);
        }
      }
    }
  }

  .footer-logos {
    li {
      width: 1.75rem !important;
      height: 1.75rem !important;
    }
  }
</style>
